{% extends "Admin/base.html.twig" %}
{% block body %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <h1>Stream</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stream.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ stream.Titre }}</td>
            </tr>
            <tr>
                <th>Sous_titre</th>
                <td>{{ stream.SousTitre }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ stream.Image }}</td>
            </tr>
            <tr>
                <th>Source</th>
                <td>{{ stream.Source }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ stream.Type }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ stream.Categorie }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ stream.Description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('stream_index') }}">back to list</a>

    <a href="{{ path('stream_edit', {'id': stream.id}) }}">edit</a>

    {{ include('stream/_delete_form.html.twig') }}
    </main>
{% endblock %}
